<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'fbhacks/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'fbhacks/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fbhacks/css/in_progress-style.css' %}">
  <title>Welcome</title>
</head>

<body class="front_bg">

  <div id="container">
    <img id="logo" src="../../static/fbhacks/pics/Net-logo-white.svg">

    <div id="title-block">
      <p class="subtitle">OVERVIEW</p>
      <p class="title">WeMeet - SanJose Networking & Happy Hour</p>
    </div>

    <div id="stats-block" class="row">
      <div class="col-xs-4">
        <div class="left-align-text">
          <strong>{{ contacts|length }}</strong><br/>people<br/>met
        </div>
      </div>
      <div class="col-xs-4">
        <div class="left-align-text">
          <strong>4</strong><br/>minutes<br/>total
        </div>
      </div>
      <div class="col-xs-4">
        <div class="left-align-text">
          <strong>44</strong><br/>minutes/<br/>person
        </div>
      </div>
    </div>

    <hr id="divider">
    <div id="timeline-line"></div>


    {% for contact in contacts %}
    <div class="row">

      <div class="col-xs-6">
        <p class="box-time">{{contact.startTime}}</p>
        <form method="post" class="form-group" action="../viewProfile/">
           <input type="hidden" name="contactName" value="{{contact.name}}">

        <button class="user-box" type="submit">

          <img class="forward-arrow" src="../../static/fbhacks/icons/forward-arrow.svg">


          <img class="user-icon" src="../../static/fbhacks/icons/User.svg">
          <p class="descriptor-name">{{contact.name}}</p>

          <table>
            <tr>
              <td><img src="../../static/fbhacks/icons/user_work.svg"></td>
              <td><p class="descriptor">{{contact.occupation}}</p></td>
            </tr>
            <tr>
              <td><img src="../../static/fbhacks/icons/user_company.svg"></td>
              <td><p class="descriptor">{{contact.company}}</p></td>
            </tr>
            <tr>
              <td><img src="../../static/fbhacks/icons/user_home.svg"></td>
              <td><p class="descriptor">{{contact.home}}</p></td>
            </tr>
          </table>

        </button>
      </form>
      </div>

      <div class="col-xs-6">
        <p class="subtitle">CONVERSATION KEYWORDS</p>
        <p class="keywords">{{ contact.keywords|join:", " }}</p>
      </div>

    </div>
    {% endfor %}


  </div>

</body>
</html>
