<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'createProfile/js/p5.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'createProfile/js/p5.dom.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'createProfile/js/p5.sound.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'createProfile/js/testSound.js' %}"></script>

  <link rel="stylesheet" href="{% static 'fbhacks/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'fbhacks/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fbhacks/css/in_progress-style.css' %}">
  <title>Welcome</title>
</head>
<body class="front_bg">

  <div class="flex-container">
    <div class="box">
      <img src="../../static/fbhacks/pics/Net-logo-white.svg">
      <h1 class="heading">in progress...</h1>
      <h2><time>00:00</time></h2>
    </div>

    <div class="button-container">
      <a href="summary">
        <button id="end_button" onclick="">End</button>
      </a>
    </div>
  </div>

</body>
<script type="text/javascript" src="{% static 'fbhacks/js/time.js' %}"></script>
</html>
