<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fbhacks/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'fbhacks/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fbhacks/css/viewProfile-style.css' %}">
	<title>Welcome</title>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
	<script src="{% static 'fbhacks/js/circle_visualization.js' %}"></script>
</head>
<body>
	<div class="top-bar">
		<img id="back_arrow" src="../../static/fbhacks/icons/white_arrow.png">
	</div>
	<div class="row profile">
		<div class="col-xs-2">
				<img id="prof" src="../../static/fbhacks/icons/user_profile.png">
		</div>
		<div class="col-xs-8 description">
			<h1>{{contact.name}}</h1>
			<table>
          <tr>
              <td align="center"><img class="tiny-icons" src="../../static/fbhacks/icons/user_work.svg"></td>
              <td>
                  <h4>{{contact.occupation}}</h4>
              </td>
          </tr>
          <tr>
            <td align="center"><img class="tiny-icons" src="../../static/fbhacks/icons/user_company.svg"></td>
            <td>
                <h4>{{contact.company}}</h4>
            </td>
          </tr>
          <tr>
            <td align="center"><img class="tiny-icons" src="../../static/fbhacks/icons/user_home.svg"></td>
            <td>
                <h4>{{contact.home}}</h4>
            </td>
          </tr>
      </table>
		</div>
		<div class="col-xs-2">
			<img id="edit" src="../../static/fbhacks/icons/user_edit.svg">
		</div>
	</div>

	<div class="row where">
		<div class="col-xs-6">
			<h2>YOU MET AT</h2>
			<p>WeMeet - San Jose</p>
			<p>Networking & Happy Hour</p>
		</div>
		<div class="col-xs-6">
			<img id="event-image" src="../../static/fbhacks/pics/event1.jpg">
		</div>
	</div>

	<div class="row convo">
		<h2>YOUR CONVERSATION</h2>
		<div id="p5-canvas"></div>
	</div>

</body>
</html>
