.front_bg{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  margin-top: 40%;
  margin-bottom: 10%;
  border-color: white;
  border-width: 3px;
  width: 40%;
}

.button-container {
  border-radius: 8px;
  background-color: white;
  font-family: Lato;
  text-align: center;
  width: 20%;
  font-size: 16pt;
}

h1 {
  font-family: Lato;
  color: white;
  font-size: 18pt;
}
