.front_bg{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  margin-top: 40%;
  margin-bottom: 20%;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  padding: 40px;
  height: 200px;
  width: 200px;
}

.button-container {
  border-radius: 8px;
  background-color: white;
  font-family: Lato-Bold;
  text-align: center;
  width: 30%;
  line-height: 30px;
  font-size: 12pt;
  vertical-align: middle;
}

#end_button {
  border: 0px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

h1 {
  font-family: Lato-Light;
  color: white;
  font-size: 15pt;
}

h2 {
  font-family: Lato-Light;
  color: white;
  font-size: 15pt;
  text-align: center;
}

#container {
  padding: 30px;
}

#logo {
  height: 16px;
}

#title-block {
  margin: 20px 0;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 0;
  padding: 0;
}
.title{
  font-family: Lato-Bold;
  color: white;
  width: 200px;
  font-size: 16px;
}

#stats-block{
  color: white;
  font-family: Lato;
}

#divider {
  margin: 30px 0;
  border-color: #979797;
}

.user-box{
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Lato;
  padding: 10px;
}

.descriptor-name {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}

.descriptor{
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 5px;
}

td img{
  height: 12px;
      display: block;
    margin: 0 auto;
    position: relative;
    top: -3px;
}

.user-icon{
  display: block;
  margin: 0 auto;
}

.forward-arrow{
  position: absolute;
  top: 50%;
  right: 20px;
}

.keywords {
  font-family: Lato;
  color: white;
  font-size: 14px;
  margin-top: 5px;
}

.box-time{
  color: white;
  font-family: Lato;
  font-size: 14px;
  margin-bottom: 5px;
}

#timeline-line{
  position: absolute;
  border-left:1px solid #fff;
  height:500px;
  left: 109px;
  top: 300px;
  z-index: -1;

}

.row {
  margin-bottom: 30px;
}

.col-xs-6 .subtitle {
  margin-top: 22px;
}