<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'fbhacks/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'fbhacks/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fbhacks/css/in_progress-style.css' %}">
  <title>Welcome</title>
</head>
<body class="front_bg">

  <div class="flex-container">
    <div class="box">
      <img src="../fbhacks/pics/Net-logo.svg">
      <h1 class="heading">in progress...</h1>
      timer
    </div>
  </div>

    <div class="main-section">
        <h1 class="heading">Customize your voice triggers.</h1>
        <h2 class="sub-heading">Emergency</h2>
        <div class="indented">
          <p class="desc subtitle">Equerry will alert the police with your info and location when trigerred with these phrases.</p>
          <div class="form-group">
              <label>Phrase</label>
              <input type="text" placeholder="Is that a gun?"></input>
          </div>
        </div>
        <p class="add-another">Add another phrase</p>

        <p class="space"></p>

    </div>

</body>
</html>
