<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'fbhacks/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'fbhacks/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fbhacks/css/in_progress-style.css' %}">
  <title>Welcome</title>
</head>
<body class="front_bg">

  <div class="flex-container">
    <div class="box">
      <img src="../static/fbhacks/pics/Net-logo-white.svg">
      <h1 class="heading">in progress...</h1>
      <h2><time>00:00</time></h2>
    </div>

    <div class="button-container">
        <button id="end_button" onclick="location.href='event_summary'">End</button>
    </div>
  </div>

</body>
<script type="text/javascript" src="{% static 'fbhacks/js/time.js' %}"></script>
</html>
